.reader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 7em 2em;
  width: max(700px, 50%);
  height: min(440px, 70vh);
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
  text-align: center;
}

.reader-text {
  font-size: 2em;
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .reader {
    width: 100%;
    height: 100%;
  }
}
