.reader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2em;
  min-width: 40%;
  min-height: 50vh;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.reader-text {
  font-size: 2em;
  margin: 1rem 0;
}
