.presentation {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
}

.text-input {
  width: 500px;
  height: 200px;
  font-size: 18px;
}

.button-container {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.button {
  padding: 0.5em 1em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: black;
}
